* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}
body main {
  margin-top: 100px;
  display: flex;
  column-gap: 20px;
  width: fit-content;
}
body main .card {
  width: 30vw;
  min-height: 500px;
  border-radius: 15px;
  background-color: lightgrey;
}
body main .card .header {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  border-radius: 15px 15px 0 0;
  padding: 5px;
}
body main .card .header .left-header {
  display: flex;
}
body main .card .header .left-header .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}
body main .card .header .left-header .information {
  margin-left: 5px;
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body main .card .header .left-header .information .name {
  display: inline-block;
}
body main .card .header .left-header .information .date {
  color: white;
  display: inline-block;
}
body main .card .header .right-header {
  display: flex;
  justify-content: start;
  align-items: start;
}
body main .card .header .right-header .three-dots {
  width: 20px;
  background-color: grey;
  border: 0px;
}
body main .card img {
  max-width: 100%;
  min-width: 100%;
}
body main .card .like-comment {
  margin-left: 20px;
  display: flex;
  column-gap: 8px;
}
body main .card .like-comment .like {
  width: 20px;
  background-color: lightgrey;
  border: 0px;
}
body main .card .like-comment .comment {
  width: 20px;
  background-color: lightgrey;
  border: 0px;
}
body main .card .description {
  padding: 0px 5px;
  max-height: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-areas: "main";
  }
  body main {
    display: grid;
    row-gap: 20px;
    grid-template-areas: "card1 card2" "card3 .";
  }
  body main .card:nth-child(3) .left-header .information h3, body main .card:nth-child(2) .left-header .information h3, body main .card:nth-child(1) .left-header .information h3 {
    font-size: 0.8rem;
  }
  body main .card:nth-child(3) .left-header .information p, body main .card:nth-child(2) .left-header .information p, body main .card:nth-child(1) .left-header .information p {
    font-size: 0.8rem;
  }
  body main .card:nth-child(1) {
    grid-area: card1;
    width: 40vw;
  }
  body main .card:nth-child(2) {
    grid-area: card2;
    width: 40vw;
  }
  body main .card:nth-child(3) {
    grid-area: card3;
    width: 40vw;
  }
}
@media screen and (max-width: 768px) and (max-width: 375px) {
  body {
    display: grid;
    grid-template-areas: "main";
  }
  body main {
    grid-area: main;
    display: grid;
    grid-row: 10px;
    grid-template-areas: "card1" "card2" "card3";
  }
  body main .card:nth-child(3), body main .card:nth-child(2), body main .card:nth-child(1) {
    width: 80vw;
    min-width: fit-content;
  }
  body main .card:nth-child(1) {
    grid-area: card1;
  }
  body main .card:nth-child(2) {
    grid-area: card2;
  }
  body main .card:nth-child(3) {
    grid-area: card3;
  }
}

/*# sourceMappingURL=style.css.map */
