*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    
    main{
        margin-top: 100px;
        display: flex;
        column-gap: 20px;
        width: fit-content;

       .card{
            width: 30vw;
            min-height: 500px;
            border-radius: 15px;
            background-color: lightgrey;
            
            
            .header{
                display: flex;
                justify-content: space-between;
                background-color: grey;
                border-radius: 15px 15px 0 0;
                padding: 5px;

                .left-header{
                    display: flex;

                    .img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: white;
                    }

                    .information{
                       margin-left: 5px;
                       flex:1;
                       height: 50px;
                       display: flex;
                       justify-content: center;
                       flex-direction: column;
                       
                       .name{
                           display: inline-block;
                       }

                       .date{
                           color: white;
                           display: inline-block;
                       }
                    }
                }

                .right-header{
                    display: flex;
                    justify-content: start;
                    align-items: start;

                    .three-dots{
                        width: 20px;
                        background-color: grey;
                        border: 0px;
                    }
                }
            }

            img{
                max-width: 100%;
                min-width: 100%;
            }

            .like-comment{
                margin-left: 20px;
                display: flex;
                column-gap: 8px;

                .like{
                   width: 20px;
                   background-color: lightgrey;
                   border: 0px;
                }

                .comment{
                    width: 20px;
                    background-color: lightgrey;
                    border: 0px;
                }
            }
           
            .description{
                padding: 0px 5px;
                max-height: 280px;
                overflow: hidden;
                text-overflow: ellipsis;
            } 
        }
        
    }
}

@media screen and (max-width: 768px){

    body{
        display: grid;
           grid-template-areas: 
           "main";

        main{
            display: grid;
            row-gap: 20px;
            grid-template-areas:
            "card1 card2"
            "card3 .";

            %left-header{  //extend rule
                .left-header{

                    .information{
                        
                        h3{
                            font-size: 0.8rem;
                        }
                        p{
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            .card:nth-child(1){
                grid-area: card1;
                width: 40vw;

                @extend %left-header;
            }
            .card:nth-child(2){
                grid-area: card2;
                width: 40vw;

                @extend %left-header;
            }
            .card:nth-child(3){
                grid-area: card3;
                width: 40vw;

                @extend %left-header;
            }
        }
    }  
    
    @media screen and (max-width: 375px){
       body{
           display: grid;
           grid-template-areas: 
           "main";
           
            main{
                grid-area: main;
                display: grid;
                grid-row: 10px;
                grid-template-areas: 
                "card1"
                "card2"
                "card3";

                %size{   //extend rule
                    width: 80vw;
                    min-width: fit-content;
                }
    
                .card:nth-child(1){
                    grid-area: card1;
                    @extend %size;
                }
                .card:nth-child(2){
                    grid-area: card2;
                    @extend %size;
                }
                .card:nth-child(3){
                    grid-area: card3;
                    @extend %size;
                }
            }
       }
    }
}