*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$padding-p: 50px 25px 0 25px;

p{
    padding: $padding-p;
}

body{
    display: flex;
    column-gap: 2em;
    
    #yellow{
       order: 1;
       flex: 2- 0.5;
       background-color: #ffff92;
       height: 90vh;

       ul{
           list-style: none;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           margin-top: 15px;

           li{
               background-color: white;
               padding: 20px 20px;
               margin-top: 15px;
           }
       }
    }
    #red{
       order: 2;
       flex: 2 - 0.5;
       background-color: #ff919c;
       height: 90vh;

       ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

            li{
                background-color: white;
                padding: 20px 20px;
                margin-top: 15px;
            }
       }
    }
    #green{
       order: 3;
       flex: 1;
       background-color: #8ffda7;
       height: 90vh;
    }
    #orange{
       order: 4;
       flex: 5;
       background-color: #ffc788;
       height: 90vh;
    }
    #blue{ 
        order: 5;
        flex: 1;
        background-color: #98d2ff;
        height: 90vh;
    }
}