*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    width: 50vw;
    border: 1px solid #263238;
}

table > caption{
    color: #263238;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

table > thead{
    color: white;
    background-color: #455a64;
    font-weight:700;
}

table .even{
    background-color: #eceff1;
}

table .odd{
    background-color: #b0bec5;
}

tfoot > .odd{
    background-color: #78909c;
    font-weight: 800;
}

tr > td:nth-child(2){
    color: #003300;
    text-align: end;
}

tr > td:nth-child(3){
    color: #7f0000;
    text-align: end;
}