*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: 27vh 27vh 27vh;
    row-gap: 5vh;
    column-gap: 5vh;
    grid-template-areas:  
    "header header header"
    "left   center-up right"
    "left   center-down  right";
}

#green{
    grid-area: header;
    background-color: #8ffda7;
}

#yellow{
    grid-area: left;
    background-color: #ffff92;
}

#orange{
    grid-area: center-up;
    background-color: #ffc788;
}

#red{
    grid-area: right;
    background-color: #ff919c;
}

#blue{
    grid-area: center-down;
    background-color: #98d2ff;
}

#yellow > ul,
#red > ul{
    list-style: none;
}
#yellow > ul > li,
#red > ul > li{
    background-color: white;
    padding: 1em 10px;
    margin: 15px 30px;
}


#green > p,
#yellow > p,
#orange > p,
#blue > p,
#red > p{
    padding: 20px 0 0 20px;
}