


body {
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    
    
}

.container {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas:
    "header header header header"
    "piu meno per diviso"
    "sette otto nove uguale"
    "quattro cinque sei uguale"
    "uno due tre uguale" 
    "zero punto ac uguale";
    text-align: center;
    border-radius: 10px;
    border: 1px grey solid;

}

.container > div {
    border: 1.4px solid rgb(123, 146, 163);
}

.header {
    grid-area: header;
    text-align: end;
    padding-right: 30px;
    background-color: rgb(57, 67, 72); 
    color: white;
    border-radius: 10px 10px 0px 0px ;
    
}

.piu {
    grid-area: piu;
    background-color: rgb(203, 215, 223);
}

.meno {
    grid-area:meno;
    background-color: rgb(203, 215, 223);
}
    


.per {
    grid-area: per ;
    background-color: rgb(203, 215, 223);
}


.diviso {
    grid-area: diviso;
    background-color: rgb(203, 215, 223);
}


.sette {
    grid-area: sette;
    background-color: rgb(236, 240, 243);
}

.otto {
    grid-area: otto;
    background-color: rgb(236, 240, 243);
}

.nove {
    grid-area: nove;
    background-color: rgb(236, 240, 243);
}

.quattro {
    grid-area: quattro;
    background-color: rgb(236, 240, 243);
}

.cinque {
    grid-area: cinque;
    background-color: rgb(236, 240, 243);
}

.sei {
    grid-area: sei;
    background-color: rgb(236, 240, 243);
}

.uno {
    grid-area: uno;
    background-color: rgb(236, 240, 243);
}

.due {
    grid-area: due;
    background-color: rgb(236, 240, 243);
}

.tre {
    grid-area: tre;
    background-color: rgb(236, 240, 243);
}

.zero {
    grid-area: zero;
    border-radius: 0 0 0 10px;
    background-color: rgb(236, 240, 243);
}

.punto {
    grid-area: punto;
    background-color: rgb(236, 240, 243);
}

.ac {
    grid-area: ac;
    background-color: rgb(236, 240, 243);
}

.uguale {
    grid-area: uguale;
    align-self: stretch;
    background-color: rgb(255, 101, 110);
    line-height: 200px;
    border-radius: 0 0 10px 0;
}