body {
    background-color: #011212;
}

:root{
    --bg-color:#ff8800;
    --br-radius: 50px;
    --side-size: 100px;
}

.ball {
    width: var(--side-size);
    height: var(--side-size);
    background-color: var(--bg-color);
    border-radius: var(--br-radius);
}
